.section-contacts {
   padding: 75px 0px 74px 0px;
   &__body {
      padding-top: 103px;
      display: flex;
      justify-content: space-between;
   }
   &__content {
      flex: 0 0 25%;
      a:hover {
         text-decoration: underline;
      }
   }
   &__title {
      font-family: Roboto;
      font-weight: 500;
      font-size: 28px;
      line-height: 33px;
      color: #000000;
      margin-bottom: 50px;
   }

   &__link {
      display: block;
      font-family: Roboto;
      font-weight: 300;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
      &:not(:last-child) {
         margin-bottom: 25px;
      }
      
   }

   &__map {
      margin-top: 5px;
      width: 960px;
      height: 620px;
      max-width: 960px;
      max-height: 620px;
   }
}
.mapboxgl-map {
   min-width: 960px;
   min-height: 620px;
}
@media (max-width: 1024px) {
   .section-contacts {
      padding: 61px 0px 63px 0px;
      &__body {
         padding-top: 75px;
      }
      &__title {
         font-size: 24px;
         line-height: 28px;
         margin-bottom: 36px;
      }
      &__link {
         font-size: 20px;
         line-height: 23px;
      }
      &__link:not(:last-child) {
         margin-bottom: 15px;
      }
      &__map {
         img {
            width: 694px;
            height: 454px;
         }
      }
   }
}

@media (max-width: 768px) {
   .section-contacts__body {
      flex-direction: column;
   }
   .section-contacts__map {
      display: flex;
      justify-content: center;
   }
   .section-contacts {
      &__title {
         font-size: 20px;
         line-height: 23px;
      }
      &__link {
         font-size: 18px;
         line-height: 21px;
      }
      &__link {
         margin-bottom: 40px;
      }
   }
}

@media (max-width: 420px) {
   .section-contacts__body {
      flex-direction: column;
   }
   .section-contacts__map {
      display: flex;
      justify-content: center;
      img {
         width: 100%px;
         height: 248px;
      }
   }
   
}
@media (max-width: 420px) {
   .section-contacts__map {
      height: 248px;
      overflow: hidden;
   }
}
